/* .infoBox{
    text-align: center;
} */
.cardContainer{
    display: flex;
    justify-content: center;
}
.InfoBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}